html
	head
		block title
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/style.css")
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='/') Coders X
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav(style="flex-grow: inherit")
					li.nav-item.active
						a.nav-link(href='/') Home
					if user
						li.nav-item
							a.nav-link(href='/users') Users
						li.nav-item
							a.nav-link(href='/products') Products
				if !user
					ul.navbar-nav
						li.nav-item
							a.nav-link(href='/auth/login') Login
			if user
				p= user.name
		.container
			block content
		block scripts
			script(src="https://code.jquery.com/jquery-3.4.1.js")